<div class="game">
    <div class="center">
        <button type="button" class="btn btn-primary" (click)="startGame()">
      Start game
    </button>
    </div>
    <div class="center" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-warning">Operative</button>
        <button type="button" class="btn btn-danger">Spymaster</button>
    </div>

    <div class="flex-container">
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
    </div>
    <button type="button" class="nextgame btn btn-success" (click)="nextGame()">
    Next game
  </button>
</div>