<div class="game">

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">Operative</button>
        <button type="button" class="btn btn-warning">Spymaster</button>
    </div>

    <div class="flex-container">
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
        <div class="word">TEST</div>
    </div>
</div>